{% extends '__base__.html' %}

{% block title %}Blog{% endblock %}

{% block content %}
<div class="uk-width-3-4">
    {% for blog in blogs %}
    <article class="uk-article">
        <h2><a href="/blog/{{blog.id}}">{{blog.name}}</a></h2>
        <p class="uk-article-meta">发表于{{blog.created_at|datetime}}</p>
        <p>{{blog.summary}}</p>
        <p><a href="/blog/{{blog.id}}">继续阅读<span uk-icon="icon:chevron-right"></span></a></p>
    </article>
    <hr class="uk-divider-icon">
    {% endfor %}
</div>

<div class="uk-width-1-4">
    <div class="uk-card">
        <div class="uk-card-header">
            <h3 class="uk-card-title">友情链接</h3>
        </div>
        <div class="uk-card-body">
            <ul class="uk-list uk-list-divider">
                <li><a href="#"><span uk-icon="icon:link"></span>耐思编程</a></li>
                <li><a href="#"><span uk-icon="icon:link"></span>鹏客读书</a></li>
                <li><a href="#"><span uk-icon="icon:link"></span>使集佳缘</a></li>
                <li><a href="#"><span uk-icon="icon:link"></span>每日头条</a></li>
            </ul>
        </div>
        <div class="uk-card-footer"></div>
    </div>
</div>
{% endblock %}
